<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YILAN JEWELRY</title>
    <link Rel="SHORTCUT ICON" href="/static/images/logo.png">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/new/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/new/jewel.css" rel="stylesheet" type="text/css">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-accordion-menu.js" ></script>
	<script type="text/javascript" src="/static/js/new/jewel.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.rotate.min.js" ></script>
    <script type="text/javascript" src="/static/js/new/menu.js" ></script>
    <script type="text/javascript" src="/static/js/new/email.js" ></script>
    <link href="/static/css/cloudzoom.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/cloudzoom.js"></script>
    <!--启动CloudZoom就可以了，quickStart()立即启动-->
    <script type="text/javascript" src="/static/js/uaredirect.js"></script>
    <script type="text/javascript">uaredirect("/index_mob/series_mob");</script>

    <style>
        /*外层盒子和里边图片的  一点点样式*/
        .jqueryzoom { position: relative; padding: 0; width: 100%; height: 85%; display: inline-block; }
        /*放大镜是基于图片大小自动生成的，每次都要把jqueryzoom中img的大小和jqueryzoom盒子大小设置为一样的，不然放大镜滑块有可能溢出*/
        .jqueryzoom img {width: 100%; height:100%;}
        .cloudzoom-gallery-active{opacity: .5}
        /*ul li img { max-height: 80px; width: auto; }*/
    </style>
</head>
<body>
    <div id="content">
        <div id="upMenu">
            <div class="title"><a href="/">YILAN JEWELRY</a></div>
            <div class="openMenu"></div>
            <div class="menu" style="display: none;">
                <a href="/series/">系列</a>
                <a href="/introduction/">设计师</a>
                <a class="engMenu changeLanguage" href="#">EN</a>
            </div>
            <div class="search">
                <a class="sea" href="javascript:void(0);" target="_blank"><i class="fa fa-search fa-lg"></i></a>
            </div>
        </div>

        <div id="main">
            <div id="photo">
                <div class="jqueryzoom">
    {#				<img id="img" class="cloudzoom" src="images/2-m.jpg"#}
    {#				 data-cloudzoom="zoomSizeMode:'lens', startMagnification:1.2, lensWidth:250, lensHeight:250,#}
    {#				  zoomImage: 'images/2.jpg', autoInside: 30"/>#}
                </div>
      <!--想切换多张图片，只需要改下面img中src中的路径，以及data-cloudzoom中两个img的路径，注意data-cloudzoom要和img中的路径一摸一样-->
                <ul id="imgList">
    {#				<li>#}
    {#					<img class="cloudzoom-gallery cloudzoom-gallery-active" src="images/2.jpg" data-cloudzoom="useZoom:'.cloudzoom',image:'images/2-m.jpg',zoomImage:'images/2.jpg'"/>#}
    {#				</li>#}
    {#				<li>#}
    {#					<img class="cloudzoom-gallery" src="images/3.jpg" data-cloudzoom="useZoom:'.cloudzoom',image:'images/3-m.jpg',zoomImage:'images/3.jpg'"/>#}
    {#				</li>#}
                </ul>
            </div>
            <div id="text">
    {#	    	<h3>系列名字</h3>#}
    {#            <h4>系列名字-1</h4>#}
    {#            <p>系列介绍介绍介绍接系列介绍介绍介绍接系列介绍介绍介绍接</p>#}
            </div>
        </div>
{#        <div id="footer">#}
{#            <div class="contact">#}
{#                <a class="ins con" href="https://www.instagram.com/yilanliu_lyl/" target="_blank"><i class="fa fa-instagram"></i></a>#}
{#                <a class="wechat con" href="#"><i class="fa fa-wechat"></i></a>#}
{#                <a class="weibo con" href="https://weibo.com/u/5627347173" target="_blank"><i class="fa fa-weibo"></i></a>#}
{#                <a class="email con" href="#"><i class="fa fa-envelope-o"></i></a>#}
{#            </div>#}
{#            <p>TEL：13020031705 Copyright © all reserved</p>#}
{#        </div>#}
    </div>
    <div>
        <div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">微 信</h4>
                        <div class="selector">
                            <div class="append">
                                <img style="margin-left: 12.5%" src="/static/images/wechat.png">
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">邮 件</h4>
                        <div class="selector">
{#                            <div class="append">#}
{#                                <img style="margin-left: 12.5%" src="/static/images/wechat.png">#}
{#                            </div>#}
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</body>
<script>//导航栏效果
    $(".wechat").click(function(){
        $('#wechatModal').modal('show');
    });
    $(".email").click(function(){
        $('#emailModal').modal('show');
    });
</script>
</html>