<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YILAN JEWERY CMS</title>
    <link Rel="SHORTCUT ICON" href="/static/images/logo.png">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link href="/static/css/manageIndex.css" rel="stylesheet" type="text/css">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
	<link href="/static/css/smartMenu.css" rel="stylesheet" type="text/css"/>
	<script src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
	<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-accordion-menu.js" ></script>
</head>
<body>
<div id="main">
    <div class="leftBackground">
        <p class="bigText">YILAN</p>
        <p class="bigText">JEWELRY</p>
    </div>
    <div class="content">
        <div class="title">YILAN JEWELRY</div>
        <div class="userInfo">
            <form id="login" role="form" method="POST" action="#"
                method="post" enctype="multipart/form-data">
                <div class="input-field col s6">
                      <input id="user_name" name="user" class="name" type="text" class="validate">
                      <label for="user_name">用户名</label>
                </div>
                <div class="input-field col s6">
                      <input id="password" name="passwd" class="password" type="password" class="validate">
                      <label for="password">密码</label>
                </div>
            </form>
            <a class="loginBtn waves-effect waves-light btn btn grey darken-4">登 录</a>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

    });

    $(function () {
    	var flag1 = 0;
        //顶部导航切换
        $("#demo-list li").click(function () {
            $("#demo-list li.active").removeClass("active")
            $(this).addClass("active");
        })  
    })
</script>
<script src="/static/js/jquery-smartMenu.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>

</html>