<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YILAN JEWELRY</title>
    <link Rel="SHORTCUT ICON" href="/static/images/logo.png">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/new/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/new/series.css" rel="stylesheet" type="text/css">
	<script src="/static/js/jquery-2.0.0.min.js"></script>
	<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.rotate.min.js" ></script>
	<script type="text/javascript" src="/static/js/new/series.js" ></script>
    <script type="text/javascript" src="/static/js/new/menu.js" ></script>
    <script type="text/javascript" src="/static/js/new/email.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.lazyload.min.js" ></script>
    <script type="text/javascript" src="/static/js/uaredirect.js"></script>
    <script type="text/javascript">uaredirect("/index_mob/series_mob");</script>
    <script>
        if (/(iPad)/i.test(navigator.userAgent)) {
            window.location.href='/index_pad/series_pad';
        }
    </script>
</head>
<body>
    <div id="content" style="min-height: 100%;">
        <div id="upMenu">
            <div class="title"><a href="/"><img class="imgLogo" src="/static/images/icons/title.png"/></a></div>
            <div class="openMenu"></div>
            <div class="menu" style="display: none;">
                <a href="/series/">系列</a>
                <a href="/introduction/">品牌</a>
                <a class="engMenu" href="/index_eng/series_eng/">EN</a>
            </div>
             <div class="rightIcon">
                 <div class="searchBox" style="display: none;">
                    <input class="searchText" type="text"  placeholder="系列名称"/>
                    <div class="results">
{#                        <a href="#">asd</a>#}
{#                        <a href="#">qwe</a>#}
{#                        <a href="#">try</a>#}
                    </div>
                </div>
                <a href="javascript:void(0);"><div class="search"></div></a>
                <a href="https://shop326567492.taobao.com/"><div class="shop"></div></a>
            </div>
        </div>
        <div id="main">
            <div id="list">
{#                <div class="series">#}
{#                    <a href="#">#}
{#                        <div class="seriesPic" style="background-image: url('/static/images/index.jpg')"></div>#}
{#                        <div class="seriesName"><h3>123456</h3></div>#}
{#                    </a>#}
{#                </div>#}
            </div>
    {#        <div id="footer">#}
    {#             <div class="contact">#}
    {#                <a class="ins con" href="#" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>#}
    {#                <a class="wechat con" href="#"><i class="fa fa-wechat fa-lg"></i></a>#}
    {#                <a class="weibo con" href="#" target="_blank"><i class="fa fa-weibo fa-lg"></i></a>#}
    {#                <a class="email con" href="#"><i class="fa fa-envelope fa-lg"></i></a>#}
    {#            </div>#}
    {#            <p>TEL：13020031705 Copyright © all reserved</p>#}
    {#        </div>#}
        </div>
    </div>

    <div>
        <div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">微 信</h4>
                        <div class="selector">
                            <div class="append">
                                <img style="margin-left: 12.5%" src="/static/images/wechat.png">
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">邮 件</h4>
                        <div class="selector">
                            <div class="append email">
								<ul style="margin-left: 10%;">
									<li>
										<p style="margin-top: 2%; font-weight: bold;">邮 箱</p>
										<input class="yourEmail" type="email" placeholder="您的邮箱" style="width: 80%; margin: 0; height: 25px;"/>
									</li>
                                    <li>
										<p style="margin-top: 2%; font-weight: bold;">标 题</p>
										<input class="title" type="text" placeholder="邮件标题" style="width: 80%; margin: 0; height: 25px;"/>
									</li>
									<li>
										<p style="margin-top: 2%; font-weight: bold;">内 容</p>
										<textarea name="content" class="content" type="text"
										clos=",50" rows="5" warp="hard" placeholder="想要输入的内容" style="width: 90%;"></textarea>
									</li>
								</ul>
							</div>
                            <div class="modal-footer" style="margin-right: 7%;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary send" data-dismiss="modal">发送</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
	<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278766764' style='display: none' %3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278766764%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
<script>
    var bigHeight = $("#upMenu").height();
    var titleHeight = $(".title").outerHeight(true);
    var space = bigHeight - titleHeight;
    space = (space - 20.6) / 2;
    $(".openMenu").css("display", "inline-block");
    $(".openMenu").css("margin-top", space);
    $(".rightIcon").css("display", "block");
    $(".rightIcon").css("top", titleHeight + space);
</script>
</html>