<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YILAN JEWELRY</title>
    <link Rel="SHORTCUT ICON" href="/static/images/logo.png">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/new/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/new/index.css" rel="stylesheet" type="text/css">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.rotate.min.js" ></script>
	<script type="text/javascript" src="/static/js/new/index_eng.js" ></script>
    <script type="text/javascript" src="/static/js/new/menu.js" ></script>
    <script type="text/javascript" src="/static/js/new/email.js" ></script>
    <script type="text/javascript" src="/static/js/uaredirect.js"></script>
    <script type="text/javascript">uaredirect("/mob_eng");</script>
</head>
<body>
    <div id="content">
        <div id="upMenu">
            <div class="title"><a href="/eng/">YILAN JEWELRY</a></div>
            <div class="openMenu"></div>
            <div class="menu" style="display: none;">
                <a class="engMenu" href="/index_eng/series_eng/">Collection</a>
                <a class="engMenu" href="/index_eng/introduction_eng/">Designer</a>
                <a href="/">中文</a>
            </div>
            <div class="search">
                <a class="sea" href="javascript:void(0);" target="_blank"><i class="fa fa-search fa-lg"></i></a>
            </div>
        </div>

        <div id="main">
    {#		<a href="#"><div class="first pic" style="background-image: url('img/index.jpg');"></div></a>#}
    {#		<a href="#"><div class="pic" style="background-image: url('img/1528197400018photo1.jpg'); display: none;"></div></a>#}
    {#		<a href="#"><div class="last pic" style="background-image: url('img/1528197400007photo2.jpg'); display: none;"></div></a>#}
        </div>
{#        <div id="footer">#}
{#            <div class="contact">#}
{#                <a class="ins con" href="https://www.instagram.com/yilanliu_lyl/" target="_blank"><i class="fa fa-instagram"></i></a>#}
{#                <a class="wechat con" href="#"><i class="fa fa-wechat"></i></a>#}
{#                <a class="weibo con" href="https://weibo.com/u/5627347173" target="_blank"><i class="fa fa-weibo"></i></a>#}
{#                <a class="email con" href="#"><i class="fa fa-envelope-o"></i></a>#}
{#            </div>#}
{#            <p>TEL：13020031705 Copyright © all reserved</p>#}
{#        </div>#}
    </div>

    <div>
        <div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">WeChat</h4>
                        <div class="selector">
                            <div class="append">
                                <img style="margin-left: 12.5%" src="/static/images/wechat.png">
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Email</h4>
                        <div class="selector">
{#                            <div class="append">#}
{#                                <img style="margin-left: 12.5%" src="/static/images/wechat.png">#}
{#                            </div>#}
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</body>
<script>//导航栏效果
    $(".wechat").click(function(){
        $('#wechatModal').modal('show');
    });
    $(".email").click(function(){
        $('#emailModal').modal('show');
    });
</script>
</body>
</html>