#main {
	min-width: 1000px;
	position: absolute;
	top: 120px;
	/* padding: 0 4%; */
	padding: 0 4%;
	/*width: 100%;*/
	/*height: 87%;*/
	height: calc(100% - 120px);
}
#main > div {
	margin: 20px auto 60px;
    vertical-align: top;
}

.infotTitle {
	font-size: 18px;
	color: #333333;
	text-align: center;
	padding-bottom: 15px;
}

.storyPre {
	text-align: center;
}

.founderInfo {
	display: flex;
	justify-content: center;
}

#photo {
    position: relative;
	width: 38%;
    vertical-align: middle;
	margin-right: 1%;
}
#photo img {
    width: 100%;
	height: 100%;
    object-fit: cover;
}

#text {
	width: 38%;
    color: #333333;
	margin-left: 1%;
}
#text h3 {
    font-size: 18px;
    padding-bottom: 15px;
    margin: 0;
}
#text p {
    font-size: 12px;
    line-height: 20px;
	text-align:justify;
    text-justify:inter-ideograph;
}
.text1 {
	margin-top: -4px;
    padding-bottom: 12px;
    border-bottom: thin solid #666666;
}
.text2 {
    padding-top: 12px;
}

.mediaBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.mediaImg {
	width: 200px;
    margin-bottom: 15px;
}

#footer {
    min-width: 1000px;
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	/*height: 10%;*/
	height: 60px;
	text-align: center;
	margin-bottom: 0 !important;
}
#footer p {
	padding-top: 5px;
    color: #666666;
}
.contact {
    padding-top: 10px;
	width: 50%;
    margin-left: 25%;
	text-align: center;
}
.con {
	display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
	color: #666666 !important;
}
.con:visited {
    color: #666666;
}
.con:hover, .con:active{
	color: #333333 !important;
}