#main {
	min-width: 1000px;
	position: absolute;
	top: 120px;
	width: 100%;
	/*height: 87%;*/
	height: calc(100% - 120px);
}
#main > div {
    vertical-align: top;
}

#photo {
	display: inline-block;
	padding-left: 4%;
	/*height: 90%;*/
	height: calc(100% - 60px);
	width: 50%;
}
/*图片列表*/
#imgList {
    min-width: 100%;
    margin-top: 5px;
    height: 75px;
    white-space:nowrap;
    display: -webkit-box;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow:ellipsis;
}
/*::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
img {
	object-fit: cover;
}
        /*ul li img { max-width: 80px; height: auto; }*/
#imgList li img {
	width: 64px;
    height: 64px;
}
#imgList li{
    display: inline-block;
    margin-right: 5px;
    list-style-type:none;
	height: 64px;
}


#text {
	display: inline-block;
	margin-left: 4%;
	/*height: 90%;*/
	height: calc(100% - 60px);
	width: 41.5%;
    /*text-align: left !important;*/
    color: #333333;
}

#text h3 {
    font-size: 18px;
    padding-bottom: 15px;
    margin: 0;
}
/*#text h4 {*/
    /*font-size: 16px;*/
    /*padding-bottom: 10px;*/
    /*margin: 0;*/
/*}*/
#text p {
    font-size: 12px;
    line-height: 20px;
    text-align:justify;
    text-justify:inter-ideograph;
}

#footer {
    position: absolute;
	/*top: 90%;*/
	bottom: 0;
	width: 100%;
	/*height: 10%;*/
	height: 60px;
	text-align: center;
}
#footer p {
	padding-top: 5px;
    color: #666666;
}
.contact {
    padding-top: 10px;
	width: 50%;
    margin-left: 25%;
	text-align: center;
}
.con {
	display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
	color: #666666 !important;
}
.con:visited {
    color: #666666;
}
.con:hover, .con:active{
	color: #333333 !important;
}

/*::-webkit-scrollbar { !*滚动条整体样式*!*/
    /*!*width: 8px; !*高宽分别对应横竖滚动条的尺寸*!*!*/
    /*height: 7px;*/
/*}*/
/*::-webkit-scrollbar-thumb {!*滚动条里面小方块*!*/
    /*border-radius: 10px;*/
     /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    /*background: #666666;*/
/*}*/
/*::-webkit-scrollbar-track {!*滚动条里面轨道*!*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    /*border-radius: 10px;*/
    /*background: #cccccc;*/
/*}*/
#sliderImg {
    position:relative;  /* Containers need relative or absolute position. */
    margin-top: 10px;
    width:100%;
    height:64px;
    /*border-top:1px solid #aaa;*/
    /*border-bottom:1px solid #aaa;*/
}
/*.overSlider {*/
    /*margin-left:20px;*/
    /*margin-right:20px;*/
    /*!*margin-top: 0 !important;*!*/
    /*width: calc(100% - 40px) !important;*/
/*}*/