* {
    margin: 0;
    padding: 0;
    font-family: HWxihei, sans-serif;
	/*font-weight: lighter;*/
}
a {
    font-family: HWxihei, sans-serif;
}
body {
    /*max-width: 100%;*/
    min-width: 1000px !important;
	overflow: auto !important;
}
@font-face {
    font-family: HWxihei;
    src: url("/static/css/fonts/newHwxh.ttf");
}
#upMenu {
    min-width: 1000px;
	position: absolute;
	top: 0;
	width: 100%;
	height: 15%;
}
.title {
	margin-top: 1.5%;
}
.title a{
	margin-left: 4%;
	font-size: 28px;
	color: #333333;
	text-decoration: none;
}
.openMenu {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 4.15%;
	margin-top: 0.5%;
	background: url(/static/images/111.png) no-repeat center center;
	background-size: cover;
}
.menu {
	display: inline-block;
/*	display: none;*/
	/*margin-left: 4%;*/
    height: 20px;
    /*vertical-align: bottom;*/
	width: 40%;
}
.menu a {
	text-decoration: none;
    font-size: 16px;
    line-height: 28px;
	margin-left: 2%;
	color: #333333;
    vertical-align: bottom;
}
.engMenu {
    font-size: 16px !important;
    line-height: 1.6 !important;
}
.search {
	display: inline-block;
	height: 24px;
    width: 24px;
    vertical-align: top;
	margin-top: 0.5%;
	float: right;
    margin-right: 5%;
	text-align: right;
}
.sea {
    vertical-align: middle;
	color: #666666 !important;
    line-height: 24px;
}
.sea:visited {
    color: #666666;
}
.sea:hover, .sea:active{
	color: #333333 !important;
}

pre {
	padding: 0;
	margin: 0;
	border: none;
	background: #ffffff;
	font-size: 12px;
	line-height: 20px;
    font-family: HWxihei, sans-serif;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}


#footer p {
    font-size: 12px;
	margin: 0 !important;
}
