#photo {
	left: 8%;
	top: 8%;
	/*position: absolute;*/
	height: 78%;
	width: 40%;
	overflow-y: hidden;
    overflow-x: hidden;
}
textarea {
	width: 50%;
}
#text {
	left: 30%;
	top: 8%;
	position: absolute;
	height: 78%;
	width: 62%;
	overflow-y: hidden;
    overflow-x: hidden;
    text-align: left !important;
    line-height: 25px;
}
.text1 {
	float: left; 
	left: 2%;
	top: 0;
	position: absolute;
	height: 100%;
	width: 48%;
	overflow-y: hidden;
    overflow-x: hidden;
}
.text2 {
	float: right; 
	left: 52%;
	top: 0;
	position: absolute;
	height: 100%;
	width: 48%;
	overflow-y: hidden;
    overflow-x: hidden;
}
.centerdiv{  
    position: absolute; 
    width:1%; 
    left: 50%; 
    height: 100%;
    border-right: 1px solid gray;  
} 
img{
    position: absolute;
    top:50%; 
    left:50%;
    transform: translate(-50%,-50%);
}
