#settingContent {
	display: flex;
    flex-flow: row;
	padding: 20px 40px;
}
.introinfo {
    flex-grow: 1;
}
.confirmIntro {
    float: right;
}

.loadPhoto {
    display: flex;
    align-items: center;
}
.uploadPhoto {
    flex-grow: 1;
    padding-right: 40px;
}
.previewImg {
    width: 500px;
    height: 334px;
    object-fit: cover;
}