/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/


#buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:60px;
    width:100%;
    background: #fff;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.16);
}

.add {
    padding: 0 12px;
    margin-right: 14px;
}

#settingContent {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    padding: 10px;
}
#series, #jobs {
    background-color: #fff;
    width: 260px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-right: 10px;
    border-radius: 4px;
}
#jobInfo {
    width:  calc(100vw - 860px);
    display: flex;
    flex-direction: column;
}
#intro{
    height: calc((100vh - 90px) /2);
    /*width:100%;*/
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    /*position: relative;*/
	/*vertical-align:middle;*/
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 6px;
    border-radius: 4px;
}
#image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc((100vh - 90px) /2);
    /*width:100%;*/
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 4px;
    /*position: relative;*/
	/*vertical-align:middle;*/
}
.jqueryzoom {
    height: calc(100% - 130px);
    border-color: #f8f8f8 !important;
}
.jqueryzoom img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.ll {
	width:100%;
	height:140px;
	float:left;
	margin-bottom:8px;
	position:relative;
	overflow:hidden;
	display:inline;
	cursor:pointer;
}
.ll img {
	width: 100%;
	height: 140px;
	object-fit: cover;
}
.ll a {
	margin: 0;
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	/*height: 100%;*/
	width: 100%;
	background: rgba(0,0,0,0.6);
	color: #ffffff;
	line-height: 140px;
	text-align: center;
	display: none;
    border-radius: 4px;
    font-size: 20px;
	font-weight: bold;
}
#imgList {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    border-top: 1px solid #f8f8f8;
}

#imgList li{
	height:100px;
	line-height:100px;
	margin-right: 4px !important;
    margin-left: 4px !important;
    margin-top: 8px !important;
}

#imgList li img{
	/*vertical-align: middle;*/
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
}
.append {
    margin-top: 20px;
}

.seriesSelect ul li span {
    color: #616161 !important;
    font-size: 14px !important;
}



