<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YILAN JEWERY CMS</title>
    <link Rel="SHORTCUT ICON" href="/static/images/logo.png">
{#	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link href="/static/css/jquery-accordion-menu.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/smartMenu.css" rel="stylesheet" type="text/css"/>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link href="/static/css/manageIndex.css" rel="stylesheet" type="text/css">
{#    <link href="/static/css/index.css" rel="stylesheet" type="text/css">#}
    <link href="/static/css/item.css" rel="stylesheet" type="text/css">
	<link href="/static/css/smartMenu.css" rel="stylesheet" type="text/css"/>
	<script src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
	<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
{#	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
	<script type="text/javascript" src="/static/js/jquery-accordion-menu.js" ></script>
	<script type="text/javascript" src="/static/js/jquery-smartMenu.js" ></script>
</head>
<style>
	/*外层盒子和里边图片的一点点样式*/
	.jqueryzoom { position: relative; padding: 0; border: solid 1px #eaeaea; width: 100%; height:75%; overflow: hidden; display: inline-block; }
	/*放大镜是基于图片大小自动生成的，每次都要把jqueryzoom中img的大小和jqueryzoom盒子大小设置为一样的，不然放大镜滑块有可能溢出*/
	.jqueryzoom img {width: 100%; height:100%;}
	#imgList li {float: left; margin-right: 5px; list-style-type:none;}
	img {object-fit: contain;}
	ul li img { width: 50px; height: 50px;}
	.cloudzoom-gallery-active{opacity: .5}
    .indexPics { width: 19%; height: 80px; margin-right: 1%; margin-top: 1%}
    .selectPics { opacity: 0.6;}
</style>
<link href="/static/css/cloudzoom.css" rel="stylesheet"/>
<script src="/static/js/cloudzoom.js"></script>

<body>
<div id="main">

    <div id="leftMenu">
        <ul id="nav-mobile" class="side-nav fixed">
            <div class="menuTitle">YILAN JEWELRY</div>
            <li><a class="waves-effect navActive" href="/item/"><i class="material-icons">favorite_border</i>展示作品</a></li>
            <li><a class="waves-effect" href="/intro/"><i class="material-icons">perm_identity</i>个人信息</a></li>
            <li><a class="waves-effect" href="/brand/"><i class="material-icons">tab</i>品牌信息</a></li>
            <li><a class="waves-effect" href="/preview/"><i class="material-icons">airplay</i>预览</a></li>
            <li class="confirmSubmit"><a href="#"><i class="material-icons">merge_type</i>上线</a></li>
            <li><a class="waves-effect" href="/logout/"><i class="material-icons">reply</i>注销</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse" style="display: none"><i class="material-icons">menu</i></a>
    </div>

    <div id="settingContent">
		<div id="buttons">
            <button type="button" class="waves-effect waves-light btn add fixIndex grey darken-2">设置轮播</button>
			<button type="button" class="waves-effect waves-light btn add addSeries grey darken-2">添加系列</button>
			<button type="button" class="waves-effect waves-light btn add addJob grey darken-2">添加作品</button>
{#            <button type="button" class="waves-effect waves-light btn add fixSeriesSequence">修改系列顺序</button>#}
{#            <button type="button" class="waves-effect waves-light btn add fixSequence">修改作品顺序</button>#}
		</div>
        <div id="content">
            <div id="series">
                <!--<a href="#" class="list-group-item kind">系列1</a>
                <a href="#" class="list-group-item kind">系列2</a>
                <a href="#" class="list-group-item kind">系列3</a>
                <a href="#" class="list-group-item kind">系列4</a>
                <a href="#" class="list-group-item kind">系列5</a>-->
            </div>
            <div id="jobs"></div>
            <div id="jobInfo">
                <div id="intro" style="text-align:left; padding: 1%;"></div>
                <div id="image">
                    <div class="jqueryzoom"></div>
                    <ul id="imgList"></ul>
                </div>
            </div>
        </div>
    </div>
    

{#	<div>#}
{#		<div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#			<div class="modal-dialog">#}
{#				<div class="modal-content">#}
{#					<div class="modal-header">#}
{#						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×#}
{#						</button>#}
{#						<h4 class="modal-title" id="myModalLabel">添加作品</h4>#}
{#					</div>#}
{#					<div class="modal-body">#}
{#						<div class="append">#}
{#							<ul style="margin-left: 10%;">#}
{#								<li>#}
{#									<p style="margin-top: 2%; font-weight: bold;">系 列</p>#}
{#									<select id="select" class="seriesSelect" style="width: 50%; margin: 0; height: 25px;">#}
{#										<!--<option value="1">系列1</option>#}
{#										<option value="2">系列2</option>#}
{#										<option value="3">系列3</option>#}
{#										<option value="4">系列4</option>#}
{#										<option value="4">系列5</option>-->#}
{#									</select>#}
{#								</li>#}
{#								<li id="addWorkPhoto">#}
{#									<p id="addPhotoTag" style="margin-top: 2%; font-weight: bold;">图 片</p>#}
{#									<input id="photo1" name="photo" class="photo" type="file" accept="image/*"#}
{#										style="width: 50%; margin: 0; height: auto; display: inline;"/>#}
{#									<!--<img style="margin-left: 10%; margin-bottom: 2%;" src="img/self.jpg" />#}
{#									<button type="button" style="margin-left: 8%;" class="btn btn-primary deleteAddWork">删除</button>-->#}
{#								</li>#}
{#								<li>#}
{#									<p style="margin-top: 2%; font-weight: bold;">简 介</p>#}
{#									<textarea name="introduction" class="jobIntro" type="text" #}
{#									clos=",50" rows="5" warp="hard" placeholder="作品简介" style="width: 80%;"></textarea>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#					<div class="modal-footer">#}
{#						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#						<button type="button" class="btn btn-primary confirmJob" data-dismiss="modal">确认</button>#}
{#					</div>#}
{#				</div><!-- /.modal-content -->#}
{#			</div><!-- /.modal-dialog -->#}
{#		</div><!-- /.modal -->#}
{#	</div>#}
    <div id="jobModal" class="modal">
        <div class="modal-content">
          <h5>添加作品</h5>
          <div class="append">
                <ul style="list-style: none">
                   <li>
                        <div class="input-field">
                            <select class="seriesSelect">
{#                                <option value="" disabled selected>选择系列</option>#}
                            </select>
                            <label>系 列</label>
                        </div>
                    </li>
                    <li id="addWorkPhoto">


                        <div class="uploadPhoto file-field input-field">
                          <div class="waves-effect waves-light btn grey darken-2">
                            <span>图 片</span>
                            <input id="photo1" name="photo" class="photo jobPhoto" type="file" accept="image/*">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>

{#                        <p id="addPhotoTag" style="margin-top: 2%; font-weight: bold;">图 片</p>#}
{#                        <input id="photo1" name="photo" class="photo" type="file" accept="image/*"#}
{#                            style="width: 50%; margin: 0; height: auto; display: inline;"/>#}
                        <!--<img style="margin-left: 10%; margin-bottom: 2%;" src="img/self.jpg" />
                        <button type="button" style="margin-left: 8%;" class="btn btn-primary deleteAddWork">删除</button>-->
                    </li>
{#                    <li>#}
{#                        <div class="input-field">#}
{#                            <textarea id="jobIntro" name="introduction" class="jobIntro materialize-textarea" type="text" placeholder="作品简介"></textarea>#}
{#                            <label for="jobIntro">简 介</label>#}
{#                        </div>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn grey darken-2 confirmJob">确认</a>
          <a class=" modal-action modal-close waves-effect waves-light btn-flat">关闭</a>
        </div>
      </div>
    </div>


     <div id="seriesModal" class="modal">
        <div class="modal-content">
          <h5>添加系列</h5>
          <div class="append">
              <div>
                <ul style="list-style: none">
                   <li>
                        <div class="uploadPhoto file-field input-field">
                          <div class="waves-effect waves-light btn grey darken-2">
                            <span>系列图片</span>
                            <input id="seriesPhoto" name="photo" class="seriesPhoto" type="file" accept="image/*">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <input id="seriesRate" name="rate" class="seriesRate" type="number" class="validate" value="1200"/>
                            <label for="seriesRate">压缩最大限高</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <input id="seriesName" name="name" class="seriesName" type="text" class="validate" placeholder="系列名称"/>
                            <label for="seriesName">系列名称</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <textarea id="seriesIntro" name="introduction" class="seriesIntro materialize-textarea" type="text" placeholder="系列简介"></textarea>
                            <label for="seriesIntro">系列简介</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <input id="seriesName_eng" name="name_eng" class="seriesName_eng" type="text" class="validate" placeholder="Series Name"/>
                            <label for="seriesName_eng">Series Name</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <textarea id="seriesIntro_eng" name="introduction" class="seriesIntro_eng materialize-textarea" type="text" placeholder="Series Introduction"></textarea>
                            <label for="seriesIntro_eng">Series Introduction</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn grey darken-2 confirmSeries">确认</a>
          <a class=" modal-action modal-close waves-effect waves-light btn-flat">关闭</a>
        </div>
      </div>
    </div>


    <div id="fixSeries" class="modal">
        <div class="modal-content">
          <h5>修改系列</h5>
          <div class="append seriesFix">
              <div>
                <ul style="list-style: none">
                    <li>
{#                        <p style="margin-top: 8px; font-weight: bold;">系列图片</p>#}
{#                        <input name="photo" class="fixSeriesPhoto" type="file" accept="image/*"/>#}

                        <div class="uploadPhoto file-field input-field">
                          <div class="waves-effect waves-light btn grey darken-2">
                            <span>系列图片</span>
                            <input id="fixSeriesPhoto" name="photo" class="fixSeriesPhoto" type="file" accept="image/*"/>
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <input id="fixSerieRate" name="rate" class="fixSerieRate" type="number" class="validate" value="1200"/>
                            <label for="fixSerieRate">压缩最大限高</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <input id="fixSeriesName" name="name" class="fixSeriesName" type="text" class="validate" value="系列名称"/>
                            <label for="fixSeriesName">系列名称</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <textarea id="fixSeriesIntro" name="fixIntroduction" class="fixSeriesIntro materialize-textarea" type="text">系列简介</textarea>
                            <label for="fixSeriesIntro">系列简介</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <input id="fixSeriesName_eng" name="name_eng" class="fixSeriesName_eng" type="text" class="validate" value="Series Name"/>
                            <label for="fixSeriesName_eng">Series Name</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field">
                            <textarea id="fixSeriesIntro_eng" name="fixIntroduction" class="fixSeriesIntro_eng materialize-textarea" type="text">Series Introduction</textarea>
                            <label for="fixSeriesIntro_eng">Series Introduction</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn grey darken-2 confirmFixSeries">确认</a>
          <a class=" modal-action modal-close waves-effect waves-light btn-flat">关闭</a>
        </div>
      </div>
    </div>

    <div id="delSeries" class="modal">
        <div class="modal-content">
          <h5>删除系列</h5>
          <p style="font-weight: bold;">确认删除该系列？（将删除该系列下所有作品）</p>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn grey darken-2 confirmDelSeries">确认</a>
          <a class=" modal-action modal-close waves-effect waves-light btn-flat">关闭</a>
        </div>
      </div>
    </div>

    <div id="delJob" class="modal">
        <div class="modal-content">
          <h5>删除作品</h5>
          <p style="font-weight: bold;">确认删除该作品？</p>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn grey darken-2 confirmDelJob">确认</a>
          <a class=" modal-action modal-close waves-effect waves-light btn-flat">关闭</a>
        </div>
      </div>
    </div>

	<div id="fixIndex" class="modal">
        <div class="modal-content">
          <h5>修改轮播</h5>
          <div class="append indexFix">
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn grey darken-2 confirmFixIndex">确认</a>
          <a class=" modal-action modal-close waves-effect waves-light btn-flat">关闭</a>
        </div>
      </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $('.modal').modal();
</script>
<script src="/static/js/jquery-smartMenu.js"></script>
<script type="text/javascript" src="/static/js/option.js"></script>

</html>


{#		<div class="modal fade" id="fixJob" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#			<div class="modal-dialog">#}
{#				<div class="modal-content">#}
{#					<div class="modal-header">#}
{#						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×#}
{#						</button>#}
{#						<h4 class="modal-title" id="myModalLabel">修改作品</h4>#}
{#					</div>#}
{#					<div class="modal-body">#}
{#						<div class="append">#}
{#							<ul style="margin-left: 10%;">#}
{#								<li>#}
{#									<p style="margin-top: 2%; font-weight: bold;">系 列</p>#}
{#									<select id="select" class="fixSeriesSelect" style="width: 50%; margin: 0; height: 25px;">#}
{#										<!--<option value="1">系列1</option>#}
{#										<option value="2">系列2</option>#}
{#										<option value="3">系列3</option>#}
{#										<option value="4">系列4</option>#}
{#										<option value="4">系列5</option>-->#}
{#									</select>#}
{#								</li>#}
{#								<li>#}
{#									<p style="margin-top: 2%; font-weight: bold;">图 片</p>#}
{#									<input id="photo" name="photo" class="fixPhoto" type="file" accept="image/*" #}
{#										placeholder="系列名称" style="width: 50%; margin: 0; height: 25px;"/>#}
{#								</li>#}
{#								<li>#}
{#									<p style="margin-top: 2%; font-weight: bold;">简 介</p>#}
{#									<textarea name="introduction" class="fixJobIntro" type="text" #}
{#									clos=",50" rows="5" warp="hard" placeholder="作品简介" style="width: 80%;"></textarea>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#					<div class="modal-footer">#}
{#						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#						<button type="button" class="btn btn-primary confirmFixJob" data-dismiss="modal">确认</button>#}
{#					</div>#}
{#				</div><!-- /.modal-content -->#}
{#			</div><!-- /.modal-dialog -->#}
{#		</div><!-- /.modal -->#}
{#	</div>#}
{#	#}