#main {
	position: absolute;
	top: 85px;
	width: 100%;
	height: auto;
}
/*#main > div {*/
    /*vertical-align: top;*/
/*}*/
#main img {
    display:block;
    width: 100%;
    object-fit: contain;
}
#text {
	display: block;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
	margin-left: 1.5rem;
    margin-right: 1.5rem;
	/*height: 100%;*/
    /*text-align: left !important;*/
    color: #333333;
}

#text h3 {
    font-size: 16px;
    padding-bottom: 0.8rem;
    margin: 0;
}
#footer {
    /*margin-top: 0.5rem;*/
    width: 100%;
    height: auto;
    text-align: center;
}
#footer p {
	padding-top: 0.5rem;
    color: #666666;
}
.contact {
    padding-top: 1.2rem;
	width: 70%;
    margin-left: 15%;
	text-align: center;
}
.con {
	margin-top: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
	color: #666666 !important;
}
.con:visited {
    color: #666666;
}
.con:hover, .con:active{
	color: #333333 !important;
}

/*@media all and (orientation : landscape) {*/
    /*#upMenu {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*width: 100%;*/
        /*height: 20%;*/
    /*}*/
    /*#main {*/
        /*position: absolute;*/
        /*top: 20%;*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/
/*}*/
/*@media all and (orientation : portrait){*/
    /*#upMenu {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*width: 100%;*/
        /*height: 15%;*/
    /*}*/
    /*#main {*/
       /*position: absolute;*/
        /*top: 15%;*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/
/*}*/