#main {
	position: absolute;
	top: 85px;
	width: 100%;
	height: auto;
}
#list {
	width: 100%;
	height: auto;
}
.series {
	width: 100%;
	height: 22rem;
	position: relative;
	overflow: hidden;
}
.series img {
    display:block;
    vertical-align:top;
    width: 100%;
    height: 100%;
	object-fit: cover;
}
.seriesPic {
    width: 100%;
    height: 100%;
    /*margin-top: 2%;*/
    overflow: hidden;
	/*background: url("/static/images/jewel1.jpg") center center no-repeat;*/
	background-size: cover;
}
.seriesName {
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    text-align: center;
    /*display: none;*/
    /*background-color: rgba(0,0,0,0.6);*/
    background-color: transparent;
}
.seriesName h3 {
    font-size: 2rem;
    line-height: 22rem;
    letter-spacing: 0.6rem;
    text-indent: 0.6rem;
    /*color: #cccccc;*/
    background-color: rgba(0,0,0,0.3);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-weight: 300;
}

#footer {
    bottom: 0;
    /*margin-top: 0.5rem;*/
    width: 100%;
    height: auto;
    text-align: center;
}
#footer p {
	padding-top: 0.5rem;
    color: #666666;
}
.contact {
    padding-top: 1.2rem;
	width: 70%;
    margin-left: 15%;
	text-align: center;
}
.con {
	margin-top: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
	color: #666666 !important;
}
.con:visited {
    color: #666666;
}
.con:hover, .con:active{
	color: #333333 !important;
}

/*@media all and (orientation : landscape) {*/
    /*#upMenu {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*width: 100%;*/
        /*height: 20%;*/
    /*}*/
    /*#main {*/
        /*position: absolute;*/
        /*top: 20%;*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/
/*}*/
/*@media all and (orientation : portrait){*/
    /*#upMenu {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*width: 100%;*/
        /*height: 15%;*/
    /*}*/
    /*#main {*/
       /*position: absolute;*/
        /*top: 15%;*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/
/*}*/